<style>



</style>
<div class="box">
	<form class="form-inline" id="form">

		<div class="form-group">
			<div class="col g-0">
				<input class="form-control" id="input" type="file">
			</div>
			<div class="col g-0">
				<button class="btn btn-primary">Enviar!</button>
			</div>
		</div>
	</form>

	<div id="resultado"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/public/script/index.js"></script>
