
body {
	font-family: 'Montserrat', sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
	font-size: 0.9rem;
	margin: 0;
}

a {
	color: #e1e3e2;
}

a:visited {
	color: #f57542;
}

div[id="content"] {
	padding-top: 2.5rem;
	min-height: calc(80vh)
}

.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 2rem;
	padding: 10px 10px 0;
	background-color: var(--secondary-color-dark)
}

.navbar-title {
	font-size: 1.5rem;
	color: var(--on-dark);
}

.bold {
	font-weight: bold;
}

.btn-primary {
	background-color: var(--primary-color);
	color: var(--on-dark);
	border: 1px solid rgba(0,0,0,0.15);
	padding: 5px 10px;
	margin: 2px;
	border-radius: 5px;
}

.btn-secondary {
	background-color: var(--secondary-color-light);
	color: var(--on-light);
	border: 1px solid rgba(0,0,0,0.15);
	padding: 5px 10px;
	margin: 2px;
	border-radius: 5px;
}
