
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 0.9rem;
	margin: 0;
}

a {
  color: #e1e3e2;
}

a:visited {
  color: #f57542;
}

div[id="content"] {
	padding-top: 2.5rem;
  min-height: calc(80vh)
}

.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 2rem;
	padding: 10px 10px 0;
	background-color: var(--secondary-color-dark)
}

.navbar-title {
	font-size: 1.5rem;
	color: var(--on-dark);
}

.bold {
	font-weight: bold;
}
