::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #191c1c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffb77d;
  border-radius: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--on-light);
  background-color: var(--light-background);
  font-size: 1rem;
	margin: 0;
}

a {
  color: #e1e3e2;
}

a:visited {
  color: #f57542;
}

div[id="content"] {
  min-height: calc(80vh)
}

.navbar {
	position: sticky;
	top: 0;
	height: 2.5rem;
	padding: 10px 10px 0;
	background-color: var(--primary-color-dark)
}

.navbar-title {
	font-size: 1.5rem;
	color: var(--on-dark);
}

.bold {
	font-weight: bold;
}
