:root {
  --primary-color: #167830;
  --primary-color-dark: #0a2411;
  --primary-color-light: #2edb5c;
  --secondary-color: white;
  --on-dark: white;
  --on-light: black;
  --light-background: white;
  --dark-background: black;
	--background-color: var(--dark-background);
	--text-color: var(--on-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--light-background);
    --text-color: var(--on-light);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
  background: #167830;
}
