:root {
  --primary-color: #167830;
  --primary-color-dark: #0a2411;
  --primary-color-light: #2edb5c;
  --secondary-color: white;
  --on-dark: white;
  --on-light: black;
  --light-background: white;
  --dark-background: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--light-background);
    --text-color: var(--on-light);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--dark-background);
    --text-color: var(--on-dark);
  }
}
